__pycache__/          # Временные файлы Python
*.pyc                 # Скомпилированные файлы
users.txt             # Файл с паролями (ВАЖНО!)
*.csv                 # Экспортированные заказы (личные данные). 
